In [1]:
                                         # List based problems

In [11]:
#1) to create a list with integers 1-10

In [159]:
list1= [i for i in range(1,11)]   #create a list of 10 elements

In [160]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#2) find length of list without len()

In [15]:
list1=[1,2,3,4,5]

In [16]:
c=0               #initialize counter
for i in list1:    #find length using loop
    c+=1           #increment function

In [17]:
print("the length of the list is:", c)

the length of the list is: 5

In [18]:
#3) to append an element to end

In [19]:
list1=[1,2,3,4]

In [20]:
list1.append(5)                      #add element 5 at the end of list

In [21]:
print("the final list is:", list1)

the final list is: [1, 2, 3, 4, 5]

In [22]:
#4)to insert an element to specific index

In [23]:
list1=[1,2,4,5]

In [25]:
list1.insert(2,3)                    #insert element 3 at index of 2

In [26]:
print("the new list is:",list1)

the new list is: [1, 2, 3, 4, 5]

In [27]:
#5) remove an element from list by value

In [28]:
list1=[1,2,3,3,4,5]

In [29]:
list1.pop(2)                      #pop() function to remove element 3 from list

3

In [30]:
print("the new list is:",list1)

the new list is: [1, 2, 3, 4, 5]

In [31]:
#6) to check if the element exists in the list

In [39]:
list1=['name','age','profession','city']

In [40]:
a=list1.index('age')                # index() function to determine position of an element

In [42]:
print("the element exists at position:",a)

the element exists at position: 1

In [43]:
#7) to find index of 1st occurence of an element

In [61]:
list1=[1,2,4,6,5,5,7,9]

In [62]:
element=6

In [64]:
a=list1.index(element)                    #determine index of 1st occurence of element 6

In [65]:
print("the index of 1st occurence of",element,"is:",a)

the index of 1st occurence of 6 is: 3

In [66]:
#8)to count the occurences of an element

In [84]:
list1=[56,78,23,45,23,54,56]

In [85]:
a=list1.count(23)                        #count() function to count the occurences of an element

In [86]:
print("the number of occurences of 23 in list is:",a)

the number of occurences of 23 in list is: 2

In [87]:
#9) to reverse the order of elements

In [88]:
list1=[1,2,3,4,5,6]

In [89]:
list1.reverse()                    #to reverse the list

In [90]:
print("the reverse list is:",list1)

the reverse list is: [6, 5, 4, 3, 2, 1]

In [91]:
#10) to sort list in ascending order

In [92]:
list1=[23,44,5,89,12,62]

In [93]:
list1.sort()                     #to sort the list in ascending order

In [95]:
print("the sorted ascending list is:",list1)

the sorted ascending list is: [5, 12, 23, 44, 62, 89]

In [96]:
#11) to sort the list in descending order

In [97]:
list1=[34,23,45,65,89,100]

In [105]:
list1.sort(reverse=True)           #first reverse the list using reverse() and then sort the list using sort()

In [106]:
print("the list in descending order  is:",list1)

the list in descending order  is: [100, 89, 65, 45, 34, 23]

In [107]:
#12) create list of even numbers from 1-20

In [162]:
list1=[ i for i in range(2,21,2)]

In [163]:
print("the list of even numbers is:",list1)

the list of even numbers is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [110]:
#13)to create a list of odd numbers from 1-20

In [168]:
list1=[i for i in range(1,21,2)]

In [169]:
print("the list of odd numbers is:",list1)

the list of odd numbers is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [113]:
#14)to find max value in a list

In [207]:
list1=[2,3,4,5,6]

In [210]:
total_sum =max(list1)            #max() function to find maximum value

In [211]:
print("the maximum value in above list is:",total_sum)

the sum of elements in above list is: 6

In [ ]:
#15) to find the min value in list

In [214]:
list1=[2,3,4,5,6]

In [215]:
total_sum =min(list1)            #min() function to find maximum value

In [216]:
print("the minimum value in above list is:",total_sum)

the minimum value in above list is: 2

In [217]:
#16) to find the sum of all elements in list

In [3]:
list1=[2,3,4,5,6]

In [4]:
s=0
for i in range(0,(len(list1))):
    s+=i
    s+=1

In [5]:
print("the minimum value in above list is:",s)

the minimum value in above list is: 15

In [6]:
#17) to create a list of squares of numbers from 1-10

In [7]:
list1= [i**2 for i in range(1,11)]            #to find squares of numbers 1-10

In [8]:
print(" the squares of numbers from 1-10 is:",list1)

 the squares of numbers from 1-10 is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#18) create a list of random numbers

In [9]:
import random                                  #import random module

In [11]:
res= random.sample(range(1,50),7)              #using random.sample()

In [12]:
print("the list of random integers is:",res)

the list of random integers is: [40, 12, 29, 31, 5, 49, 45]

In [13]:
#19)to remove duplicates form list

In [14]:
list1=['name','age','profession','age','city']

In [16]:
dupli_list= list(set(list1))     #convert list to set as set always has unique elements

In [17]:
print("the list without duplicates is:",dupli_list)

the list without duplicates is: ['profession', 'city', 'name', 'age']

In [18]:
#20) to remove common elements between two lists

In [26]:
list1=[3,5,6,8]

In [27]:
list2=[5,6,8,9]

In [28]:
common=0
for x in range(0,(len(list1))):                 #iteration for list1 from 0 to list1
               for y in range(0,(len(list2))):  #iteration for list2 from 0 to list2
                     if x==y:                   #check if elements match in both
                       common+=1

In [30]:
print("the list of common elemnts are:",common)

the list of common elemnts are: 4

In [31]:
#21)to find differnce between two lists

In [32]:
list1=[12,23,45,67]

In [33]:
list2=[12,45,32,78,67]

In [34]:
diff_list= list(set(list1).difference(list2))   #using difference() to find differnce between two lists

In [35]:
print("the difference in both the lists are:",diff_list)

the difference in both the lists are: [23]

In [36]:
#22) to merge two lists

In [37]:
list1=[12,23,45,67]

In [38]:
list2=[12,45,32,78,67]

In [41]:
merge_list= list1+list2            #to merge the two lists

In [42]:
print("the merged list is:",merge_list)

the merged list is: [12, 23, 45, 67, 12, 45, 32, 78, 67]

In [43]:
#23) multiply all elements in list by 2

In [48]:
list1=[12,23,45,67]

In [49]:
mult_list= [x*2 for x in list1]           #multiply all elements by 2

In [50]:
print("the final list is:", mult_list)

the final list is: [24, 46, 90, 134]

In [51]:
#24) filter out all even numbers from the list

In [73]:
list1=[2,3,4,5,6]

In [74]:
even=0
for i in range(0,(len(list1))):    #iteration to check if a particular element in list is divisible by 2
        if (i%2==0):
           even+=1

In [75]:
print("the number of even elements are:",even)

the number of even elements are: 3

In [61]:
#25) convert a list of strings to a list of integers

In [62]:
list1=["15","23","45"]

In [64]:
int_list= [int (x) for x in list1]

In [65]:
print("the integer list of the above string list is:",int_list)

the integer list of the above string list is: [15, 23, 45]

In [66]:
#26) convert a list of integers to a list of strings

In [67]:
list1= [12,23,45,67]

In [71]:
str_list= [str (x) for x in list1]

In [72]:
print("the string list of above integer list is:", str_list)

the string list of above integer list is: ['12', '23', '45', '67']

In [76]:
#27) to flatten a nested list

In [12]:
matrix=[[3,4,5],
        [5,6,7],
        [2,3,4],
        [9,10,11]]

In [14]:
res= [ i for row in [[3,4,5],[5,6,7],[2,3,4],[9,10,11]] for i in row]    #function to flatten list

In [15]:
print("the flattened list is:",res)

the flattened list is: [3, 4, 5, 5, 6, 7, 2, 3, 4, 9, 10, 11]

In [16]:
#28) to check if list is sorted

In [37]:
list1=[23,4,56,7,9]

In [38]:
print(" the original list is:",list1)

 the original list is: [23, 4, 56, 7, 9]

In [39]:
flag=0
list2=list[:]
list1.sort()                       #use sort() to check sorted list
if (list2==list1):
    flag=1

In [44]:
if(flag):
    print("yes, the list is sorted")
else:
    print("the list is not sorted")

the list is not sorted

In [45]:
#29) to rotate list to right by n positions

In [64]:
n=3

In [65]:
list1=[1,2,3,4,5]

In [66]:
if n>len(list1):
    n=int(n%len(list1))
    list1=(list1[-n:] + list[:-n])

In [67]:
print(list1)

[1, 2, 3, 4, 5]

In [69]:
#30) list of prime numbers upto 50

In [85]:
lower=0

In [86]:
upper=51

In [87]:
print("prime numbers between",lower,"and",upper,"are:")

prime numbers between 0 and 51 are:

In [88]:
for num in range (lower,upper+1):
    if(num>1):
        for i in range(2,num):
            if (num%1)==0:
                break
        else:
            print(num)

2